

.grid{
	display: grid;
	grid-template-columns: repeat(3, 6em);
	grid-template-rows: repeat(3, 6em);
	/* IDK why but this gap needs to be here so the grid doesn't f up */
	gap: 0.1em; 
	margin: 20px;
}

.subcell{
	width: 6em;
	height: 6em;
	display: grid;
	grid-template-columns: repeat(3, 2em);
	/* grid-gap: 0.25em; */
	border: 3px solid black;
	/* box-shadow: inset 0 0 0 3px black; */
}

.cell{
	width: 2em;
	height: 2em;
	box-shadow: inset 0 0 0 1px black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell:focus-within , .cell-input:focus{
	background-color: #cfcfcf;
}

.cell-input{
	text-align: center;
	background-color: white;
	outline: none;
	border: none;
	width: 2em;
	height: 2em;
}