:root{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

p{
	margin: 0.25em 0;
}

h1{
	margin: 0.5em 0;
}

hr{
	width: 50%;
}

code{
	display: inline;
	font-family: 'Courier New', monospace;
	font-size: 1em;
	background-color: #f0f0f0;
	outline: 1px solid black;
	padding: 0 0.25em;
	margin: 0;
}

#instructions{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.mainpage{
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 0;
}

@font-face {
	font-family: 'Fontello Icons';
	src: url(./fonts/fontello.woff2);
}

#credit{
	font-family: 'Fontello Icons', Arial, Helvetica, sans-serif;
	text-align: center;
	color: #898989;
}

button{
	/* background-color: #5120bb; */
	color: black;
	border: none;
	padding: 0.5em 1em;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}